hipchat_token = 'shh_dont_tell_anyone'

hipchat_room_id = 1337

# Key to decrypt secrets.py.cast5 in the website stable repository
secrets_decrypt_key = 'tell_everyone!'

# Get from https://code.google.com/apis/console/#project:920870591742:access
# registered under david@khanacademy.org (or create another client ID)
GOOGLE_CLIENT_ID = '123456789.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET = '7blAHBLAHBLAHb1aHbL-bla4'

# For encoding session secrets in Flask, presumably
SECRET_KEY = 'mash on keyboard?'
